[global]
use-profiles = ["default"]

[repository]
repository = "/opt/pcloud/Misc/Backups/ipad"
password-command = "opunattended op://Private/7kaur74rgd5da4kfcabgy3ahb4/password"

[backup]
host = "ipad"
glob-files = ["/opt/rustic/default.glob", "/opt/rustic/ipad.glob"]

[[backup.snapshots]]
sources = ["/mnt/ipad"]
as-path = "/"

[backup.hooks]
run-before = [
  { command = "mkdir", args = [
    "-p",
    "/mnt/ipad",
  ] },
  { command = "rclone", args = [
    "mount",
    "ipad:/",
    "/mnt/ipad",
    "--read-only",
    "--transfers",
    "12",
  ] },
]
