[git]
  autoCommit = true
  autoPush = true
[onepassword]
    prompt = true
[edit]
    apply = true
{{- if eq .chezmoi.os "darwin" }}
    command = "open"
    args = ["-a", "/Applications/Visual Studio Code.app", "--wait"]
{{- else if eq .chezmoi.os "linux" }}
    command = "code"
    args = ["--wait"]
{{- end }}
