{{- $headless:= promptBoolOnce . "headless" "Headless" -}}
{{- $box := "-" -}}
{{- if eq .chezmoi.hostname "nvst" -}}
    {{- $box = "hetzner" -}}
{{- else if eq .chezmoi.hostname "hyzenberg" -}}
    {{- $box = "hyzen" -}}
{{- else if eq .chezmoi.hostname "meow-pc" -}}
    {{- $box = "home" -}}
{{- else if eq .chezmoi.os "darwin" -}}
    {{- $box = "mac" -}}
{{- else if and (eq .chezmoi.hostname "jade") -}}
    {{- $box = "jade" -}}
{{- else if and (eq .chezmoi.hostname "doris") -}}
    {{- $box = "doris" -}}
{{- else if and (eq .chezmoi.hostname "roxy") -}}
    {{- $box = "roxy" -}}
{{- end -}}

{{- $box_group := "-" }}
{{- if or (eq $box "jade") (eq $box "doris") (eq $box "roxy") -}}
    {{- $box_group = "nvstly" -}}
{{- end -}}

[data]
    headless = {{ $headless }}
    box = "{{ $box }}"
    box_group = "{{ $box_group }}"
[git]
    autoCommit = true
    autoPush = true
[onepassword]
    prompt = true
[edit]
    apply = true
{{- if $headless }}
    command = "nano"
{{- else if eq .chezmoi.os "darwin" }}
    command = "open"
    args = ["-a", "/Applications/Visual Studio Code.app", "--wait"]
{{- else if eq .chezmoi.os "linux" }}
    command = "code"
    args = ["--wait"]
{{- end }}
