# System Files
/dev
/proc
/sys
/tmp
/run
/mnt
/media
/cdrom
/lost+found
/swapfile
/var/log

# Restic
{{ .chezmoi.homeDir }}/.cache/restic

# pCloud
{{ .chezmoi.homeDir }}/pCloudDrive
{{ .chezmoi.homeDir }}/.pcloud
/home/pcloud # should be temporary- change when mount is changed to pCloudDrive

# rclone
{{ .chezmoi.homeDir }}/.cache/rclone

# Node/NPM
node_modules
{{ .chezmoi.homeDir }}/.npm
{{ .chezmoi.homeDir }}/.local/share/pnpm

