# System Files
/dev
/proc
/sys
/tmp
/run
/mnt
/media
/cdrom
/lost+found
/swapfile
/var/log

# Restic
{{ .chezmoi.homeDir }}/.cache/restic

# pCloud
*/pCloud*Drive
*/.pcloud
/home/pcloud
/root/pcloud

# rclone
{{ .chezmoi.homeDir }}/.cache/rclone

# Node/NPM
node_modules
{{ .chezmoi.homeDir }}/.npm
{{ .chezmoi.homeDir }}/.local/share/pnpm

# Podman Mounts
/var/lib/containers/storage/volumes/*_mnt
