# ~/.profile: executed by the command interpreter for login shells.
# This file is not read by bash(1), if ~/.bash_profile or ~/.bash_login
# exists.
# see /usr/share/doc/bash/examples/startup-files for examples.

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi
if [ -d "$HOME/.local/bin" ] ; then
    PATH="$HOME/.local/bin:$PATH"
fi

# Disable Terminal Messaging
mesg n 2> /dev/null || true
# make less more friendly for non-text input files, see lesspipe(1)
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

###########################
## Environment Variables ##
###########################

# Homebrew
[ -d "/home/linuxbrew/.linuxbrew" ] && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

# Rust/Cargo
[ -f "$HOME/.cargo/env" ] && . "$HOME/.cargo/env"

# Restic
{{- if eq .box "mac" }}
export RESTIC_REPOSITORY=/Users/meow/pCloud Drive/Misc/Backups/macbook
export RESTIC_PASSWORD={{ onepasswordRead "op://Private/tw5vwxlmtwcajhtqgix7ldcitu/password" }}
{{- else if eq .box "home" }}
export RESTIC_REPOSITORY=/home/meow/pCloudDrive/Misc/Backups/meow-pc
export RESTIC_PASSWORD={{ onepasswordRead "op://Private/we4fxvwyhtjrwzkadghpw5llje/password" }}
{{- else if eq .box "hetzner" }}
export RESTIC_REPOSITORY=/home/bak
export RESTIC_PASSWORD={{ onepasswordRead "op://Private/nwc5nliaaxa4rq64jeplaijsdi/password" }}
export RESTIC_COMPRESSION=max
{{- end }}

# Node/NVM
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
# pnpm
export PNPM_HOME="/root/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
# pnpm end

# Misc.
export THEOS=~/theos

#############
## Aliases ##
#############
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias git-clear="{{ .chezmoi.homeDir }}/bin/git-clear.sh"
alias txz="tar -cJf"

#############################
# Interactive Shell Options #
#############################
if [[ $- == *i* ]]; then
    clear

    # Tab Completion
    [ -f ~/.config/tabtab/bash/__tabtab.bash ] && . ~/.config/tabtab/bash/__tabtab.bash || true

    # History Settings
    if [[ -n "$ZSH_VERSION" ]]; then
        HISTSIZE=10000
        SAVEHIST=10000
        setopt HIST_APPEND
        setopt INC_APPEND_HISTORY
        setopt SHARE_HISTORY
    elif [[ -n "$BASH_VERSION" ]]; then
        HISTCONTROL=ignoreboth
        HISTSIZE=10000
        HISTFILESIZE=10000
        shopt -s histappend
        shopt -s checkwinsize
    fi

    # LS Color Support
    if [ -x /usr/bin/dircolors ]; then
        test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
        alias ls='ls --color=auto'

        alias grep='grep --color=auto'
        alias fgrep='fgrep --color=auto'
        alias egrep='egrep --color=auto'
    fi

    # Init Oh-My-Posh
    [ -x "$(command -v oh-my-posh)" ] && eval "$(oh-my-posh init bash --config 'https://github.com/itzTheMeow/itzTheMeow/raw/main/theme.omp.json')"

    # Startup Message
    {{- if eq .chezmoi.os "linux" }}
    [ "$TERM_PROGRAM" != "vscode" ] && {{ .chezmoi.homeDir }}/.bin/startup-message.sh
    {{- end }}
fi
