source {{ .chezmoi.homeDir }}/.profile

LOG_FILE="/tmp/restic_$(date +"%Y-%m-%d_%H-%M-%S").log"

# Back up root and push to log file
restic backup / --exclude-file={{ .chezmoi.homeDir }}/.backup_ignore "$@" 2>&1 | tee -a $LOG_FILE

{{- if eq .box "jade" }}
jq -n --arg msg "$(cat $LOG_FILE)" '{ embeds: [{ description: $msg, title: "Restic Backup Complete", color: 182138 }] }' >"$LOG_FILE.txt"
curl -i -H "Accept: application/json" -H "Content-Type:application/json" -X POST --data "@$LOG_FILE.txt" {{ onepasswordRead "op://NVSTly CI/NVSTly Logging Webhook/credential" }}
{{- end }}

if command -v ntfy &>/dev/null; then
  NTFY_TOPIC="$NTFY_TOPIC-backups" ntfy publish -t "Restic Backup Complete" "$(cat $LOG_FILE)"
fi
