source {{ .chezmoi.homeDir }}/.profile

LOG_FILE="/tmp/restic_$(date +"%Y-%m-%d_%H-%M-%S").log"

# Back up root and push to log file
restic backup / --exclude-file={{ .chezmoi.homeDir }}/.backup_ignore "$@" 2>&1 | tee -a $LOG_FILE

{{- if eq .box "hetzner" }}
jq -n --arg msg "$(cat $LOG_FILE)" '{ embeds: [{ description: $msg, title: "Restic Backup Complete", color: 182138 }] }' > "$LOG_FILE.txt"
curl -i -H "Accept: application/json" -H "Content-Type:application/json" -X POST --data "@$LOG_FILE.txt" {{ onepasswordRead "op://Private/nwc5nliaaxa4rq64jeplaijsdi/Logging Webhook URL" }}
{{- else if eq .box "hyzen" }}
NTFY_TOPIC="$NTFY_TOPIC-backups" ntfy publish -t "Restic Backup Complete" "$(cat $LOG_FILE)"
{{- end }}
