cd /home/meow/Downloads
# Download latest discord release.
wget --content-disposition "https://discord.com/api/download/stable?platform=linux&format=deb"

# TODO: make this use a set file name?
sudo dpkg -i /home/meow/Downloads/discord-*.deb
mv /home/meow/Downloads/discord-*.deb /home/meow/pCloudDrive/Downloads

# Run discord in the background.
discord > /dev/null &

read -p "Press ENTER to continue."

# Inject stylesheets.
cd ~/.apps/beautifuldiscord
./beautifuldiscord.sh
