# ~/.profile: executed by the command interpreter for login shells.
# This file is not read by bash(1), if ~/.bash_profile or ~/.bash_login
# exists.
# see /usr/share/doc/bash/examples/startup-files for examples.

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi
if [ -d "$HOME/.local/bin" ] ; then
    PATH="$HOME/.local/bin:$PATH"
fi

# Homebrew ENV
[ -d "/home/linuxbrew/.linuxbrew" ] && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

# Rust/Cargo ENV
[ -f "$HOME/.cargo/env" ] && . "$HOME/.cargo/env"

# Disable Terminal Messaging
mesg n 2> /dev/null || true

# Restic ENV
{{- if eq .box "mac" }}
export RESTIC_REPOSITORY=/Users/meow/pCloud Drive/Misc/Backups/macbook
export RESTIC_PASSWORD={{ onepasswordRead "op://Private/tw5vwxlmtwcajhtqgix7ldcitu/password" }}
{{- else if eq .box "home" }}
export RESTIC_REPOSITORY=/home/meow/pCloudDrive/Misc/Backups/meow-pc
export RESTIC_PASSWORD={{ onepasswordRead "op://Private/we4fxvwyhtjrwzkadghpw5llje/password" }}
{{- else if eq .box "hetzner" }}
export RESTIC_REPOSITORY=/home/bak
export RESTIC_PASSWORD={{ onepasswordRead "op://Private/nwc5nliaaxa4rq64jeplaijsdi/password" }}
export RESTIC_COMPRESSION=max
{{- end }}

# Aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias git-clear="~/.git-clear"

# Interactive shells only.
if [[ $- == *i* ]]; then
    clear

    if [[ -n "$ZSH_VERSION" ]]; then
        HISTSIZE=10000
        SAVEHIST=10000
        setopt HIST_APPEND
        setopt INC_APPEND_HISTORY
        setopt SHARE_HISTORY
    elif [[ -n "$BASH_VERSION" ]]; then
        HISTCONTROL=ignoreboth
        HISTSIZE=10000
        HISTFILESIZE=10000
        shopt -s histappend
        shopt -s checkwinsize
    fi
fi
