#!/usr/bin/env bash

export RESTIC_COMPRESSION=max
export RESTIC_REPOSITORY=/home/meow/pCloudDrive/Misc/Backups/ipad
export RESTIC_PASSWORD={{ onepasswordRead "op://Private/7kaur74rgd5da4kfcabgy3ahb4/password" }}

SSH_AUTH_SOCK=~/.1password/agent.sock rclone mount ipad:/ /mnt/ipad &
RCLONE_PID=$!

# Wait for mount to be ready
sleep 2

restic backup /mnt/ipad \
  --exclude-file ~/.backup_ignore \
  --exclude /System

# Unmount after backup completes
fusermount -u /mnt/ipad 2>/dev/null || umount /mnt/ipad
kill $RCLONE_PID 2>/dev/null
