Include ~/.ssh/config.private

# Personal
Host hyzen.xela.codes
  IdentityFile ~/.ssh/hyzenberg.pub
  IdentitiesOnly yes
  ForwardAgent yes

Host ipad
  IdentityFile ~/.ssh/ipad.pub
  IdentitiesOnly yes

# NVSTly
Host pi.nvst.ng
  IdentityFile ~/.ssh/pi.pub
  IdentitiesOnly yes

Host odroid.nvst.ng
  Port 2222
  IdentityFile ~/.ssh/odroid.pub
  IdentitiesOnly yes
  ForwardAgent yes

Host doris.nvst.ng
  IdentityFile ~/.ssh/doris.pub
  IdentitiesOnly yes
  ForwardAgent yes

Host jade.nvst.ly
  IdentityFile ~/.ssh/jade.pub
  IdentitiesOnly yes
  ForwardAgent yes

# NetroCorp
Host usest1.netro.host
  IdentityFile ~/.ssh/netro.pub
  IdentitiesOnly yes

# Git
Host github.com
  IdentityFile ~/.ssh/github_signing.pub
  IdentityFile ~/.ssh/github_auth.pub
  IdentitiesOnly yes

# 1Password SSH Agent
Host *
{{- if eq .chezmoi.os "darwin" }}
  IdentityAgent ~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
{{- else }}
  IdentityAgent ~/.1password/agent.sock
{{- end }}
