[Desktop Entry]
Version=1.0
Type=Application
Name=ssh root@netrohost
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
Exec=/home/meow/.local/kitty.app/bin/kitty --session ./sessions/ssh-meow@netrohost.conf
Icon=/home/meow/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png
Categories=System;TerminalEmulator;
